In [2]:
# Dependencies
import pandas as pd
#import pycountry_convert as pc

In [5]:
# Path to covid data file
covid_data_file = "raw/covid_countries.csv"

# Read csv into a dataframe
covid_data = pd.read_csv(covid_data_file)

covid_data.head()

,location,country_code,latitude,longitude,confirmed,dead,recovered,updated
0,Mexico,mx,23.634501,-102.552784,2175462,195908,1720430,2021-03-19 01:45:08.726822+00:00
1,Poland,pl,51.919438,19.145136,1984248,48388,1603832,2021-03-19 01:45:08.726822+00:00
2,Peru,pe,-9.189967,-75.015152,1443521,49706,1355792,2021-03-19 01:45:08.726822+00:00
3,Netherlands,nl,52.132633,5.291266,1179612,16198,0,2021-03-19 01:45:08.726822+00:00
4,Iran,ir,32.427908,53.688046,1778645,61581,1521377,2021-03-19 01:45:08.726822+00:00

In [ ]:
#Add column for Continent
covid_data["continent"] = ""

In [ ]:
#convert country_code 2 digit into UPPER case
covid_data["country_code"]=  covid_data["country_code"].str.upper()

In [ ]:
#Determine continent for a given country 
for index, row in covid_data.iterrows():
    try:
        # Deriving continent code based on "2 digit country code"
        continent_code = pc.country_alpha2_to_continent_code(row["country_code"].upper())
        # convert c "2 digit country code" to "3 digit country code"
        covid_data.loc[index,"Country Code"] = pc.country_name_to_country_alpha3(row["location"])
       
        # print(continent_code)
        covid_data.loc[index, "continent"] = continent_code
    except(KeyError, IndexError):
        print("Unable to determine continent code")

In [ ]:
# Replace empty string with NaN
covid_data.replace("", np.nan, inplace=True)

# Fill NaN values with 'OTH'
covid_data["continent"].fillna("OTH", inplace = True)