In [46]:
# Dependencies and Setup
import pandas as pd

# Path to raw file
gdp_raw_file = "RAW/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_2055594.csv"

# Read csv into a dataframe
gdp_df = pd.read_csv(gdp_raw_file, delimiter=",", skiprows=4)

# Remove 2020 column and the triling empty column (last 2 columns)
gdp_df = gdp_df.iloc[:, :-2]

In [47]:
# Drop Indicator columns
gdp_df.drop(columns=["Indicator Name","Indicator Code"], inplace=True)

In [48]:
# Count on total number of columns in dataframe
num_cols = len(gdp_df.columns)

# Drop all year cols, only keeping the last 3 years
gdp_df.drop(gdp_df.columns[2:(num_cols-3)], axis=1, inplace=True)

# Drop rows with incomplete or missing values
gdp_df.dropna(inplace=True)

# Average the GDP and add as a column to the datafame
gdp_df["Average GDP"] = gdp_df[gdp_df.columns[2:5]].mean(axis=1)

# Preview DataFrame
gdp_df

,Country Name,Country Code,2017,2018,2019,Average GDP
1,Afghanistan,AFG,1.886995e+10,1.835388e+10,1.929110e+10,1.883831e+10
2,Angola,AGO,1.221238e+11,1.013532e+11,8.881570e+10,1.040976e+11
3,Albania,ALB,1.301969e+10,1.514702e+10,1.527918e+10,1.448197e+10
4,Andorra,AND,3.000181e+09,3.218316e+09,3.154058e+09,3.124185e+09
5,Arab World,ARB,2.516121e+12,2.771384e+12,2.817415e+12,2.701640e+12
...,...,...,...,...,...,...
259,Kosovo,XKX,7.245707e+09,7.942962e+09,7.926134e+09,7.704934e+09
260,"Yemen, Rep.",YEM,2.673614e+10,2.348627e+10,2.258108e+10,2.426783e+10
261,South Africa,ZAF,3.495541e+11,3.682889e+11,3.514316e+11,3.564249e+11
262,Zambia,ZMB,2.586817e+10,2.631214e+10,2.330977e+10,2.516336e+10
263,Zimbabwe,ZWE,2.204090e+10,2.431156e+10,2.144076e+10,2.259774e+10

In [49]:
# Output dataframe to csv
gdp_df.to_csv("Resources/gdp_3y_data.csv")